body{
	box-sizing:border-box;
	height:auto;
	width:100%;
	position:absolute;
	top:10%;
	 #accountForm{
	 	max-width:38%;
	 	height:470px;
	 	margin:auto;
	 	box-shadow:0 1px 10px 0 grey;
	 	padding:3%;
	 	@media(max-width:700px) {
	 		max-width:80%;
	 		height:90%;
	 	}
	 	 img{
	 	 	height:80px;
	 	 	margin:{
	 	 		left:-4%;
	 	 		bottom:-8%;
	 	 	}
	 	 }
	 	 h,h6{
	 	 	color:#5a8df4;
	 	 	font:{
	 	 		size:24px;
	 	 		weight:400;
	 	 	}
	 	 	text-align:left;
	 	 	line-heignt:1.333;
	 	 }
	 	 h5{
	 	 	font:{
	 	 		size:13px;
	 	 	}
	 	 	margin-bottom:10%;
	 	 }
	 	 h6{
			font:{
				size:15px;
			}
			margin-bottom:10%;
	 	 }
	 	 p{
	 	 	font:{
	 	 		size:12px;
	 	 	}
	 	 	margin-bottom:10%;
	 	 	 a{
	 	 	 	color:#5a6df4;
	 	 	 	text-decoration:none;
	 	 	 	&:hover{
	 	 	 		color:#5a6df4;
	 	 	 	}
	 	 	 }
	 	 }
	 	 .form-group{
	 	 	border-bottom:2px solid #5a8df4 ;
	 	 	 label{
	 	 	 	display:block;
		 	 	color:#5a8df4 !important;
		 	 	font:{
		 	 		size:12px;
		 	 	}
		 	 }
		 	 input[type="text"],input[type="password"]{
		 	 	box-shadow:none;
		 	 	width:100%;
		 	 	outline:none;
		 	 	border:none;
		 	 	&:focus{
		 	 		@extend input[type="text"];
		 	 		box-shadow:none;
		 	 	}
				&:hover{
					@extend input[type="text"];
				}
		 	 }

	 	 }
	 }
	 .btn-google{
	 	background:#5a8df4;
	 	color:#fff;
	 	width:100%;
	 	font:{
	 		weight:bold;
	 	}
	 }
	 #footer{
	 	position:absolute;
	 	bottom:-12%;
	 	right:34%;
	 	max-width:38%;
	 	 h5{
	 	 	position:absolute;
			bottom:-22%;
			left:-272px;
	 	 }
	 	 ul{
	 	 	list-style-type:none;
	 	 	margin:auto;
	 	 	 li a{
	 	 	 	color:grey;
	 	 	 	text-decoration:none;
	 	 	 	font:{
	 	 	 		weight:lighter;
	 	 	 		size:15px;
	 	 	 	}
	 	 	 	&:hover{
	 	 	 		color:grey;
	 	 	 	}
	 	 	 }
	 	 }
	 	 @media(max-width:700px) {
	 	 	display:none;
	 	 }
	 }
}